/* MODO LIGHT */
/* CONTENEDOR PRINCIPAL */
.contenedor-header {
  width: 60%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ============================================== */
/* BOTON DARKMODE LIGHT */
.boton-darkmode {
  width: 120px;
  height: 35px;
  border: 1px solid #6809e1;
  border-radius: 61px;
  background-color: white;
  color: #6809e1;
  font-weight: 500;
  cursor: pointer;
}

/* ============================================== */
/* MODO DARK */
/* BOTON DARKMODE DARK */
.dark .boton-darkmode {
  border: 1px solid #fff;
  background-color: #373737;
  font-weight: 400;
  color: #fff;
}
/* ============================================== */
