.contenedor-header {
  width: 60%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boton-darkmode {
  width: 120px;
  height: 35px;
  border: 1px solid #6809e1;
  border-radius: 61px;
  background-color: white;
  color: #6809e1;
  font-weight: 600;
  margin-right: 70px;
cursor: pointer;
}

.logo {
  width: 80px;
  height: 80px;
  margin-left: 70px;
  background-color: yellowgreen;
}
