/* MODO LIGHT */
/* CONTENEDOR PRINCIPAL */
.contenedor-resultados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 10rem;
  background-color: #fff;
  position: relative;
}
/* ============================================== */
/* TITULO SECCION */
.contenedor-resultados p {
  font-size: 20px;
}
/* ============================================== */
/* GALERIA */
.contenedor-galeria {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #e7e7e7;
  padding: 40px;
}

.gif img {
  width: 200px;
  height: 200px;
  margin: 28px;
}
/* ============================================== */
/* LINK AL GIF */
.link-gif {
  cursor: pointer;
}
/* ============================================== */
/* SPINER */
.lds-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  top:2.5rem
}
.lds-ring div {
  position: absolute;
  width: 68px;
  height: 68px;
  margin: 8px;
  border: 8px solid #6809e1;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #6809e1 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ============================================== */
/* MODO DARK */
/* TITULO SECCION DARK */
.dark .contenedor-resultados p {
  color: #fff;
  font-weight: 400;
}
/* ============================================== */
/* GALERIA DARK*/
.dark .contenedor-galeria {
  background-color: #212121;
}
/* ============================================== */
