/* MODO LIGHT */
/* CONTENEDOR PRINCIPAL */
.contenedor-resultados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 10rem;
}
/* ============================================== */
/* TITULO SECCION */
.contenedor-resultados p {
  font-size: 20px;
}
/* ============================================== */
/* GALERIA */
.contenedor-galeria {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #e7e7e7;
  padding: 40px;
}

.gif img {
  width: 200px;
  height: 200px;
  margin: 28px;
}
/* ============================================== */
/* MODO DARK */
/* TITULO SECCION DARK */
.dark .contenedor-resultados p {
  color: #fff;
  font-weight: 400;
}
/* ============================================== */
/* GALERIA DARK*/
.dark .contenedor-galeria {
  background-color: #212121;
}
/* ============================================== */
