* {
  color: #572ee5;
}

.contenedor-resultados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 10rem;
}

.contenedor-resultados p {
  font-size: 20px;
}

.contenedor-galeria {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #e7e7e7;
  padding: 40px;
}

.gif img {
  width: 200px;
  height: 200px;
  margin: 28px;
}
